*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: auto;
    background-color: #E0F2FE;
     
}
a{
    text-decoration: none;
    background-color: white;
    padding: 10px;
    margin: 5px;
    align-items: center;
    text-align: center;
    color: blue;
    
}
a:hover{
    background-color: lightskyblue;
}
.head{
    background-color: #0F172A;
   margin-bottom: 20px;
}
.head > h1{
    color:#F97316;
    text-align: center;
    
}
.badge{
    display: inline-block;
    margin-top: 30px;
    margin-left: 570px;
    padding: 8px 16px;
    border: 1px solid #ffffff20;
    border-radius: 50px;
    background: #ffffff0d;
    backdrop-filter: blur(15px);
    color: #bbaaff;
    font-size: 13px;
    margin-bottom: 20px;
   
}

.card > a{
    background-color: cyan;
    border: 1px black solid;
    box-shadow:0px 0px 1px 2px rgb(115, 115, 230) ;
    
}
.parent{
   
    width: 350px;

    margin-left: 100px;
    
    
}
.child{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    padding: 20px;
    margin: 20px;
    border: 1px solid #38BDF8;
    box-shadow: 0px 0px 5px 2px rgb(209, 196, 196);
    border-radius: 20px;
    background-color: #BFDBFE;
    
}
.child > h2{
    margin-bottom: 20px;
   background-color:  #103ca3;
}