* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


body {
    
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
}
#heading{
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
}
.company {
    background-color: lightblue;
    color: darkblue;
    height: auto;
    text-align: center;
}
  
#para{
     background-color:rebeccapurple;
     color:darkred;
}